a{
  text-decoration: none;
}
.button{
  color: #fff;
  padding: 10px 20px;
  text-transform: capitalize;
  text-align: center;
  background: #3777bc;
}
.extended-button{
  color: #fff;
  padding: 10px 90px;
  text-transform: capitalize;
  text-align: center;
  background: #3777bc;
}
.round-button{
  color: #fff;
  padding: 10px 20px;
  text-transform: capitalize;
  text-align: center;
  background: #3777bc;
  border-radius: 250em;
}
.group-button{
  list-style: none;
  margin: 0;
  left: 0;
}
.group-button::after{
  content: '';
  display: block;
}
.group-button > li {
    float: left;
    display: inline-block;
    margin: 0 1px;
}
.rounded{
  list-style: none;
  margin: 0;
  left: 0;
}
.rounded-first{
  border-bottom-left-radius: 125em;
  border-top-left-radius: 125em;
}
.rounded-last{
  border-bottom-right-radius: 125em;
  border-top-right-radius: 125em;
}
.t-rounded-btn{
  padding: 20px;
  color: #fff;
  background: transparent;
  border: 2px solid #fff;
  border-radius: 250em;
  text-transform: uppercase;
}
