body{
  font-family: 'Merriweather', 'Helvetica Neue', Arial, sans-serif;
  background: #fff;
  -webkit-tap-highlight-color:#222;
}

/*-------------------------
banner
-------------------------*/

.bg-image{
  /*min-height: auto;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-position: center;
  color: #fff;*/
  width: 100%;
  height: 750px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  top: 0;
  background-image: url(../assets/images/background.png);
  margin: 60px 0 0 0;
}
.bg-image {
    min-height: 100%;
}
.bg-info{
  padding: 30px 0;
}
.bg-brand{
  width: 260px;
  margin: 0 auto;
  padding: 20px 0;
}
.rebon{
  width: 100%;
  padding: 45px 15px;
  background: #C87769;
  opacity: .75;
}
.bg-text{
  width: 415px;
  margin: 0 auto;
  color: #fff;
  text-align: center;
  font-size: 18px;
  font-weight: 300;
}
.bg-btn, .bg-scroll{
  width: 800px;
  margin: 0 auto;
  padding: 45px;
}
.bg-btn a{
  margin: 0 220px;
}
.scroll{
  color: #fff;
  position: relative;
  left: 318px;
}
.designs{
  width: 100%;
  background: #fff;
  padding: 15px;
}
.header-info{
  width: 900px;
  margin: 0 auto;
  padding: 40px;
  font-size: 16pt;
  color: #8C8A8A;
}
/*-------------------------
banner
-------------------------*/
